<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Input Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Input Data</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">

    <ion-item>
      <ion-label position="floating">NIK</ion-label>
      <ion-input type="number" placeholder="Input Data" [(ngModel)]="form.nik"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input type="text" placeholder="Input Data" [(ngModel)]="form.nama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tempat Tanggal Lahir</ion-label>
      <ion-input type="text" placeholder="Input Data" [(ngModel)]="form.ttl" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Jenis Kelamin</ion-label>
      <ion-select [(ngModel)]="form.jenis_kelamin">
        <ion-select-option value="Laki-Laki">Laki-laki</ion-select-option>
        <ion-select-option value="Perempuan">Perempuan</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Alamat</ion-label>
      <ion-input type="text" placeholder="Input Data" [(ngModel)]="form.alamat" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Agama</ion-label>
      <ion-select [(ngModel)]="form.agama">
        <ion-select-option value="ISLAM">Islam</ion-select-option>
        <ion-select-option value="KRISTEN">Kristen</ion-select-option>
        <ion-select-option value="KATHOLIK">Katolik</ion-select-option>
        <ion-select-option value="HINDU">Hindu</ion-select-option>
        <ion-select-option value="BUDDHA">Budha</ion-select-option>
        <ion-select-option value="KONGHUCU">Konghucu</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Status Perkawinan</ion-label>
      <ion-select [(ngModel)]="form.status_perkawinan">
        <ion-select-option value="BELUM KAWIN">Belum Kawin</ion-select-option>
        <ion-select-option value="KAWIN">Kawin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pekerjaan</ion-label>
      <ion-input type="text" placeholder="Input Data" [(ngModel)]="form.pekerjaan" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kewarganegaraan</ion-label>
      <ion-select [(ngModel)]="form.kewarganegaraan">
        <ion-select-option value="WNI">WNI</ion-select-option>
        <ion-select-option value="WNA">WNA</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Berlaku Hingga</ion-label>
      <ion-input type="text" placeholder="Input Data" [(ngModel)]="form.berlaku_hingga"></ion-input>
    </ion-item>

    <br>
    <!-- send button -->
    <ion-button expand="block" (click)="sendToWhatsapp()">
      Send To WhatsApp
    </ion-button>
  </div>
</ion-content>
